body {
    margin: 30px;
}

.user_control {
    padding: 30px 0;
}

.todo_form input, .todo_form textarea {
    display: block;
}

.todo {
    margin-top: 20px;
}

.todo.completed .title, .todo.completed .desc {
    text-decoration: line-through;
}